app-desktop {
  display: contents;
}

app-desktop .desktop {
  z-index: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

app-desktop .tasks {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

app-desktop .tasks ion-chip ion-label {
  user-select: none;
}