app/node_modules
app/public/js
app/package-lock.json

builder/node_modules
builder/package-lock.json

core/dist
core/node_modules
core/package-lock.json

os/dist
os/node_modules
os/public/js
os/package-lock.json

public/js/apps
public/js/os