<ion-header>
  <ion-toolbar>
    <ion-title>Page One</ion-title>
    <ion-buttons slot="end">
      <ion-button name="minimize">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-button name="close">
        <ion-icon slot="icon-only" icon="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Page One</h1>
  <ion-nav-link router-direction="forward" component="pt-two">
    <ion-button>Go to Page Two</ion-button>
  </ion-nav-link>
</ion-content>