body {
  display: flex !important;
}

.splash-screen {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.splash-screen>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-screen>div span {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
  display: block;
}

.splash-screen>div span:before,
.splash-screen>div span:after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 6px solid #0000;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.5s linear infinite;
}

.splash-screen>div span:before {
  border-top-color: #fff;
}

.splash-screen>div>span:after {
  border-top-color: var(--ion-color-primary);
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes spinner-fade {

  25%,
  75% {
    opacity: 0.1
  }

  50% {
    opacity: 1
  }
}